<details
  class="accordion md:dropdown {{ class }}"
  style="--anchor-name: --account-dropdown;"
  name="header-{{ section.id }}"
  data-hover-details
>
  <summary class="py-1">
    Account
    {{ 'icon-chevron-down.svg' | inline_asset_content }}
  </summary>

  <ul class="
    max-md:anim-fade-to-b p-4 max-md:py-0 max-md:border-l max-md:mb-4
    [&_a]:block [&_a]:py-1 [&_a]:hover:underline
  ">
    {% if customer %}
      <li>{{ 'My Account' | link_to: routes.account_url }}</li>
      <li>{{ 'Logout' | link_to: routes.account_logout_url }}</li>
    {% else %}
      <li>{{ 'Login' | link_to: routes.account_login_url }}</li>
      <li>{{ 'Register' | link_to: routes.account_register_url }}</li>
    {% endif %}
  </ul>
</details>
