{%- unless cart.empty? -%}
  {%- form 'cart',
    cart,
    class: 'grid @4xl/section:grid-cols-[1fr_min(50%,24rem)] items-start gap-y-lh gap-x-[2lh] *:@4xl/section:sticky-below-header [--offset:1rem] data-loading:animate-pulse',
    data-cart-loading: ''
  -%}
    <div class="@container/cart">
      <ul class="grid @lg/cart:grid-cols-[auto_1fr_auto_auto] gap-y-4 gap-x-lh leading-tight">
        <li class="hidden @lg/cart:grid col-span-full grid-cols-subgrid *:text-current/50 border-b py-1">
          <div class="col-span-2">Product</div>
          <div class="text-center">Quantity</div>
          <div class="text-center">Price</div>
        </li>

        {%- for line_item in cart.items -%}
          <li class="grid grid-cols-[auto_1fr_auto] items-start @lg/cart:items-center gap-[inherit] @lg/cart:col-span-full @lg/cart:grid-cols-subgrid [&+&]:border-t [&+&]:pt-4">
            <figure class="sticky-below-header">
              {{ line_item.image
                | image_url: width: 200
                | image_tag: class: 'size-[60px] @lg/cart:size-[100px] object-cover', loading: 'lazy'
                | link_to: line_item.url
              }}
            </figure>

            <div class="@lg/cart:contents grid gap-2">
              <dl class="relative">
                <dt>
                  <a href="{{ line_item.url }}" class="after:absolute after:inset-0 hover:underline">
                    {{- line_item.product.title -}}
                  </a>
                </dt>

                {%- if line_item.variant.title != 'Default Title' -%}
                  <dd class="mt-2 text-sm text-current/50">
                    {{- line_item.variant.title -}}
                  </dd>
                {%- endif -%}
              </dl>

              <div class="flex flex-wrap @lg/cart:flex-col gap-2 items-center">
                {% render 'quantity-selector',
                  id: line_item.key,
                  name: 'updates[]',
                  value: line_item.quantity,
                  min: 0,
                  max: line_item.variant.quantity_rule.max | default: 100,
                  line_item_key: line_item.key
                %}

                {% comment %} <a href="{{ line_item.url_to_remove }}" class="link text-sm">Remove</a> {% endcomment %}
              </div>
            </div>

            <div class="grid @lg/cart:text-right @max-lg/cart:sticky-below-header tabular-nums">
              {%- if line_item.original_line_price != line_item.final_line_price -%}
                <s>{{ line_item.original_line_price | money }}</s>
                <span>{{ line_item.final_line_price | money }}</span>
              {%- else -%}
                <span>{{ line_item.final_line_price | money }}</span>
              {%- endif -%}

              {%- for allocation in line_item.line_level_discount_allocations -%}
                <span class="text-alert">
                  -{{ allocation.amount | money }}
                </span>
              {%- endfor -%}
            </div>
          </li>
        {%- endfor -%}
      </ul>
    </div>

    <div class="grid gap-4 sticky bottom-0 bg-background @max-md:pt-4 @max-lg/cart:pt-4 pb-[max(env(safe-area-inset-bottom),1rem)] @max-md:border-t @max-lg/cart:border-t">
      <dl class="grid grid-cols-[1fr_auto] gap-x-4 [&_dd]:font-bold tabular-nums">
        <dt>Subtotal</dt>
        <dd>{{ cart.total_price | money }}</dd>

        {%- for discount in cart.cart_level_discount_applications -%}
          <dd class="text-alert">
            -{{ discount.total_allocated_amount | money }}
          </dd>
        {%- endfor -%}
      </dl>

      <details class="accordion group/note">
        <summary class="py-1 leading-tight group-open/note:font-bold">
          Cart notes
          {{ 'icon-chevron-down.svg' | inline_asset_content }}
        </summary>
        <div>
          <textarea
            name="note"
            rows="3"
            placeholder="Add a note to your order"
            class="w-full min-h-[calc(1lh+.5em)] max-h-[4lh] p-[.25em_.5em] border"
          >
            {{- cart.note -}}
          </textarea>
        </div>
      </details>

      <button type="submit" name="checkout" class="action w-full">
        Checkout
      </button>

      {% if additional_checkout_buttons %}
        {{ content_for_additional_checkout_buttons }}
      {% endif %}
    </div>
  {%- endform -%}
{%- endunless -%}
