{%- assign item = closest.article | default: article -%}

{%- if item.image -%}
  {%- if block.settings.enable_link -%}
    <figure class="relative">
      {{ item.image
        | image_url: width: 800
        | image_tag: class: 'w-full object-cover', loading: 'lazy', draggable: 'false'
      }}
      <a href="{{ item.url }}" class="absolute inset-0 text-transparent" rel="nofollow">
        {{ item.title }}
      </a>
    </figure>
  {%- else -%}
    <figure class="max-md:full-bleed">
      {{ item.image
        | image_url: width: 1600
        | image_tag: class: 'w-full object-cover', loading: 'eager', draggable: 'false'
      }}
    </figure>
  {%- endif -%}
{%- endif -%}

<style>
  @scope {
    img {
      aspect-ratio: {{ block.settings.aspect_ratio }};
    }
  }
</style>

{% schema %}
{
  "name": "Image",
  "class": "article-image",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_link",
      "label": "Enable link",
      "default": false
    },
    {
      "type": "select",
      "id": "aspect_ratio",
      "label": "Aspect ratio",
      "options": [
        {
          "value": "none",
          "label": "Original"
        },
        {
          "value": "4 / 3",
          "label": "Landscape"
        },
        {
          "value": "1 / 1",
          "label": "Square"
        },
      ],
      "default": "none"
    },
  ],
  "presets": [
    {
      "name": "Image",
      "category": "Article"
    }
  ]
}
{% endschema %}
