{%- assign option = closest.product.options_by_name[block.settings.option_name] -%}

{%- if option -%}
  <div class="group/options flex flex-wrap items-center gap-[.25em] text-sm">
    {% for value in option.values limit: block.settings.limit %}
      {%- liquid
        assign swatch = nil
        if block.settings.enable_color_swatches
          assign swatch = closest.product.metafields.shopify.color-pattern.value | find: 'label', value
        endif
      -%}

      <a
        href="{{ closest.product.url }}?variant={{ value.variant.id }}"
        class="
          inline-grid place-items-center px-[.25em] border not-hover:border-current/25
          has-[.swatch]:size-lh has-[.swatch]:rounded-full has-[.swatch]:p-[2px] has-[.swatch]:order-first
          not-has-[.swatch]:min-w-[3ch] not-has-[.swatch]:justify-center
          {% unless swatch %} non-swatch {% endunless %}
          {% unless value.available %} bg-current/25 opacity-25 {% endunless %}
        "
      >
        {%- if swatch -%}
          <div
            class="swatch inline-block size-full rounded-full"
            style="background-color: {{ swatch.color }};"
            title="{{ value }}"
          ></div>

        {%- else -%}
          {{ value }}

        {%- endif -%}
      </a>

      {%- if swatch -%}
        <hr class="hidden group-has-[.non-swatch]/options:last-of-type:block order-first w-full border-none">
      {%- endif -%}
    {%- endfor -%}

    {%- if option.values.size > block.settings.limit -%}
      <span>{{ option.values.size | minus: block.settings.limit }} more</span>
    {%- endif -%}
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Variants",
  "class": "product-card-variants",
  "settings": [
    {
      "type": "text",
      "id": "option_name",
      "label": "Option name",
      "default": "Color",
      "info": "e.g. Color, Size, etc."
    },
    {
      "type": "range",
      "id": "limit",
      "label": "Limit",
      "min": 1,
      "max": 20,
      "step": 1,
      "default": 5
    },
    {
      "type": "checkbox",
      "id": "enable_color_swatches",
      "label": "Enable color swatches",
      "default": true,
      "info": "Uses metafields (\"shopify.color-pattern\")"
    },
  ],
  "presets": [
    {
      "name": "Variants",
      "category": "Product"
    }
  ]
}
{% endschema %}
