<figure class="group/image relative grid place-items-center *:col-span-full *:row-span-full">
  {{ closest.product.featured_image | image_url: width: 600 | image_tag: loading: 'lazy' }}

  {% if block.settings.enable_hover and closest.product.images.size > 1 %}
    {{
      closest.product.images[1]
      | image_url: width: 600
      | image_tag: class: 'group-not-hover/image:opacity-0 transition-opacity bg-background', loading: 'lazy'
    }}
  {% endif %}

  <a href="{{ closest.product.url }}" class="absolute inset-0 text-transparent" rel="nofollow">
    {{ closest.product.title }}
  </a>
</figure>

<style>
  @scope {
    figure img {
      object-fit: {{ block.settings.fit }};
      aspect-ratio: {{ block.settings.aspect_ratio }};
    }
  }
</style>

{% schema %}
{
  "name": "Image",
  "settings": [
    {
      "type": "select",
      "id": "aspect_ratio",
      "label": "Aspect ratio",
      "options": [
        {
          "value": "none",
          "label": "Original"
        },
        {
          "value": "4 / 3",
          "label": "Landscape"
        },
        {
          "value": "1 / 1",
          "label": "Square"
        },
        {
          "value": "3 / 4",
          "label": "Portrait"
        }
      ],
      "default": "1 / 1"
    },
    {
      "type": "select",
      "id": "fit",
      "label": "Fit",
      "options": [
        {
          "value": "contain",
          "label": "Contain"
        },
        {
          "value": "cover",
          "label": "Cover"
        }
      ],
      "default": "cover",
      "visible_if": "{{ block.settings.aspect_ratio != 'none' }}"
    },
    {
      "type": "checkbox",
      "id": "enable_hover",
      "label": "Hover to show secondary image",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Image"
    }
  ]
}
{% endschema %}
