<div class="section grid md:items-start gap-lh">
  <header class="md:[grid-area:top] [&_.article-title]:h0 max-md:[&_figure]:full-bleed">
    {%- content_for 'block', type: '_article-top', id: 'article-top' -%}
  </header>

  <aside class="md:[grid-area:sidebar] md:sticky-below-header [--offset:1rem] grid gap-4 md:w-(--sidebar-width)">
    <div>
      <a href="{{ blog.url }}" class="inline-flex items-center gap-x-2 [&_svg]:shrink-0 hover:underline">
        {{ 'icon-chevron-left.svg' | inline_asset_content }}
        Back to blog
      </a>
    </div>

    <details class="group/toc accordion px-4 bg-current/5" data-mobile-only-details>
      <summary class="py-2 font-bold md:[&_svg]:hidden">
        On this page
        {{ 'icon-chevron-down.svg' | inline_asset_content }}
      </summary>

      <nav
        class="text-sm leading-tight max-md:group-open/toc:anim-fade-to-b md:not-empty:anim-fade-to-r pb-4"
        aria-label="Table of contents"
        hidden
        data-toc
      >
        <ul></ul>
      </nav>
    </details>
  </aside>

  <div class="md:[grid-area:content] max-w-(--content-width) mx-auto">
    <div class="prose leading-relaxed" data-toc-content>
      {{ article.content }}
    </div>

    {%- content_for 'block', type: '_article-bottom', id: 'article-bottom' -%}

    {%- liquid
      if blog.comments_enabled?
        render 'article-comments'
      endif
    -%}
  </div>
</div>

<style>
  @scope {
    .section {
      --section-width: {{ section.settings.section_width }}px;
      --content-width: {{ section.settings.content_width }}px;

      @media (width >= 48rem) {
        {% if section.settings.sidebar_position == 'left' %}
          grid-template:
            'sidebar top' auto
            'sidebar content' auto / auto 1fr;
        {% else %}
          grid-template:
            'top sidebar' auto
            'content sidebar' auto / 1fr auto;
        {% endif %}
      }
    }

    .group\/toc {
      ul ul {
        padding-left: 1em;
      }

      a {
        display: block;
        padding-block: 0.25em;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    [data-toc-content] {
      a {
        overflow-wrap: anywhere;
      }
    }
  }
</style>

{% schema %}
{
  "name": "Article",
  "tag": "article",
  "settings": [
    {
      "type": "range",
      "id": "section_width",
      "label": "Section width",
      "min": 500,
      "max": 2000,
      "step": 100,
      "unit": "px",
      "default": 1200
    },
    {
      "type": "range",
      "id": "content_width",
      "label": "Content width",
      "min": 400,
      "max": 1600,
      "step": 50,
      "unit": "px",
      "default": 650
    },
    {
      "type": "select",
      "id": "sidebar_position",
      "label": "Sidebar position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
  ],
  "blocks": [
    { "type": "_article-top" },
    { "type": "_article-bottom" }
  ]
}
{% endschema %}
