{%- assign collections = section.settings.collections | default: collections -%}

<style>
  @scope {
    .collection-list {
      --column-width: {{ section.settings.column_width }}px;
      --gap: {{ section.settings.gap }}px;
      {% if section.settings.fixed_columns %}
        --column-count: {{ section.settings.column_count }};
      {% endif %}

      li > :not(:is(figure, .no-image)) {
        padding-inline: max(0px, calc(.5rem - var(--gap)));
      }

      img {
        object-fit: {{ section.settings.image_fit }};
        aspect-ratio: {{ section.settings.image_aspect_ratio }};
      }
    }
  }
</style>

<div class="section space-y-lh">
  {%- if section.settings.content != blank -%}
    <header class="prose text-center max-w-3xl mx-auto">
      {{ section.settings.content }}
    </header>
  {%- endif -%}

  <ul class="
    collection-list items-stretch gap-x-(--gap) gap-y-[2lh] leading-tight
    {% if section.settings.layout == "carousel" %}
      carousel carousel-scroll-buttons carousel-scroll-marker max-md:full-bleed max-md:px-4
      {% if section.settings.masked_edge %} md:masked-edge-r {% endif %}
    {% else %} grid
      {% if section.settings.fixed_columns %} md:grid-cols-[repeat(var(--column-count),minmax(0px,1fr))]
      {% else %} md:grid-cols-[repeat(auto-fit,minmax(min(var(--column-width),100%),1fr))]
      {% endif %}
    {% endif %}
  ">
    {%- for collection in collections -%}
      <li class="group/card relative flex flex-col gap-2">
        {%- if collection.image != blank -%}
          <figure>
            {{- collection.image
              | image_url: width: 800
              | image_tag: class: 'w-full object-cover group-hover/card:brightness-110 transition-[filter]', loading: 'lazy'
            -}}
          </figure>
        {%- endif -%}

        <div class="{% if collection.image == blank %} no-image {% endif %}">
          <a
            href="{{ collection.url }}"
            class="
              flex items-center after:absolute after:inset-0 hover:underline font-bold
              {% if collection.image == blank %} h-full p-lh bg-current/2 group-hover/card:bg-current/5 transition-colors {% endif %}
            "
          >
            {{ collection.title }}
          </a>
        </div>
      </li>
    {%- endfor -%}
  </ul>
</div>

{% schema %}
{
  "name": "Collection list",
  "tag": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "default": "<h2>Collection list</h2>"
    },
    {
      "type": "collection_list",
      "id": "collections",
      "label": "Collections",
      "info": "Leave blank to show all collections"
    },
    {
      "type": "header",
      "content": "Collection grid"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "carousel",
          "label": "Carousel"
        }
      ],
      "default": "carousel"
    },
    {
      "type": "checkbox",
      "id": "fixed_columns",
      "label": "Fixed columns",
      "default": false,
      "visible_if": "{{ section.settings.layout == 'grid' }}"
    },
    {
      "type": "number",
      "id": "column_count",
      "label": "Column count",
      "default": 3,
      "visible_if": "{{ section.settings.layout == 'grid' and section.settings.fixed_columns == true }}"
    },
    {
      "type": "checkbox",
      "id": "masked_edge",
      "label": "Masked edge",
      "default": true,
      "visible_if": "{{ section.settings.layout == 'carousel' }}"
    },
    {
      "type": "range",
      "id": "column_width",
      "label": "Column width",
      "min": 100,
      "max": 400,
      "step": 10,
      "unit": "px",
      "default": 250
    },
    {
      "type": "range",
      "id": "gap",
      "label": "Gap",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "header",
      "content": "Collection card"
    },
    {
      "type": "select",
      "id": "image_aspect_ratio",
      "label": "Aspect ratio",
      "options": [
        {
          "value": "none",
          "label": "Original"
        },
        {
          "value": "4 / 3",
          "label": "Landscape"
        },
        {
          "value": "1 / 1",
          "label": "Square"
        },
        {
          "value": "3 / 4",
          "label": "Portrait"
        }
      ],
      "default": "1 / 1"
    },
    {
      "type": "select",
      "id": "image_fit",
      "label": "Fit",
      "options": [
        {
          "value": "contain",
          "label": "Contain"
        },
        {
          "value": "cover",
          "label": "Cover"
        }
      ],
      "default": "cover",
      "visible_if": "{{ section.settings.image_aspect_ratio != 'none' }}"
    },
  ],
  "presets": [
    {
      "name": "Collection list",
      "category": "Collection",
    }
  ]
}
{% endschema %}
