{%- assign megamenu_cards = section.blocks | where: 'type', 'megamenu_card' -%}

<div
  class="header-layout section grid items-center gap-x-4 p-4 max-h-svh overflow-y-auto"
  data-height-var="--header-height"
>
  <a class="inline-block" href="{{ routes.root_url }}" class="[grid-area:logo]">
    {{ shop.name }}
  </a>

  <nav class="[grid-area:menu] md:flex items-center gap-x-4 max-md:menu-not-open:hidden max-md:mt-4 leading-tight">
    {%- for link in section.settings.menu.links -%}
      {%- case link.levels -%}
        {%- when 2 -%} {% # megamenu %}
          <details class="group/lv1 accordion" name="header-{{ section.id }}" data-hover-details>
            <summary class="max-md:group-open/lv1:font-bold py-1 md:text-center">
              {{ link.title }}
              {{ 'icon-chevron-down.svg' | inline_asset_content }}
            </summary>
            <div class="anim-fade-to-b md:absolute top-full inset-x-0 md:bg-background md:shadow-lg">
              <div class="section columns-[24ch] gap-x-4 py-0 md:pb-4 max-md:px-4 max-md:border-l max-md:mb-4 *:break-inside-avoid md:*:mb-4">
                {% for lv1_link in link.links %}
                  {%- case lv1_link.levels -%}
                    {%- when 1 -%}
                      <details class="group/lv2 accordion" name="header-{{ section.id }}-lv2" open data-mobile-only-details>
                        <summary class="line-clamp-1 break-all py-1 [&_svg]:md:hidden group-open/lv2:font-bold">
                          {{ lv1_link.title }}
                          {{ 'icon-chevron-down.svg' | inline_asset_content }}
                        </summary>
                        <ul class="max-md:border-l max-md:px-4 max-md:mb-4">
                          {% for lv2_link in lv1_link.links %}
                            <li>{{ lv2_link.title | link_to: lv2_link.url, class: 'block py-1 hover:underline' }}</li>
                          {% endfor %}
                        </ul>
                      </details>

                    {%- else -%}
                      {%- assign megamenu_card = null -%}
                      {%- for block in megamenu_cards -%}
                        {%- if block.settings.identifier == lv1_link.title -%}
                          {%- assign megamenu_card = block -%}
                        {%- endif -%}
                      {%- endfor -%}

                      {%- if megamenu_card -%}
                        <figure class="relative md:max-w-[24ch]">
                          {%- if megamenu_card.settings.image -%}
                            {{ megamenu_card.settings.image | image_url: width: 300 | image_tag: class: 'w-full max-md:hidden' }}
                          {%- endif -%}

                          <a href="{{ lv1_link.url }}" class="block py-1 hover:underline md:font-bold after:absolute after:inset-0">
                            {{ lv1_link.title }}
                          </a>

                          {%- if megamenu_card.settings.content -%}
                            <figcaption class="prose">
                              {{ megamenu_card.settings.content }}
                            </figcaption>
                          {%- endif -%}
                        </figure>

                      {%- else -%}
                        {{ lv1_link.title | link_to: lv1_link.url, class: 'block py-1 hover:underline' }}

                      {%- endif -%}

                  {%- endcase -%}
                {% endfor %}
              </div>
            </div>
          </details>

        {%- when 1 -%} {% # dropdown %}
          <details
            class="group/lv1 accordion md:dropdown"
            style="--anchor-name: --header-dropdown-{{ forloop.index }};"
            name="header-{{ section.id }}"
            data-hover-details
          >
            <summary class="max-md:group-open/lv1:font-bold py-1 md:text-center">
              {{ link.title }}
              {{ 'icon-chevron-down.svg' | inline_asset_content }}
            </summary>
            <ul class="max-md:anim-fade-to-b p-4 max-md:py-0 max-md:border-l max-md:mb-4">
              {% for lv1_link in link.links %}
                <li>{{ lv1_link.title | link_to: lv1_link.url, class: 'block py-1 hover:underline' }}</li>
              {% endfor %}
            </ul>
          </details>

        {%- else -%} {% # top-level link %}
          <a href="{{ link.url }}" class="block py-1 md:text-center">
            {{ link.title }}
          </a>
      {%- endcase -%}
    {%- endfor -%}

    {% render 'account-dropdown', section: section, class: 'md:hidden' %}
  </nav>

  <nav class="[grid-area:actions] flex items-center gap-x-4">
    {% render 'account-dropdown', section: section, class: 'max-md:hidden' %}

    {% if settings.cart_behavior == 'drawer' %}
      {% render 'cart-drawer', section_id: section.id %}
    {% else %}
      <a href="{{ routes.cart_url }}">
        Cart
        <span class="{% unless cart.item_count > 0 %} hidden {% endunless %}">({{ cart.item_count }})</span>
      </a>
    {% endif %}
  </nav>

  <label class="[grid-area:toggle] group/toggle md:hidden" aria-label="Toggle menu">
    <input id="menu-open" type="checkbox" hidden />
    <span class="menu-open:hidden">{{ 'icon-menu.svg' | inline_asset_content }}</span>
    <span class="menu-not-open:hidden">{{ 'icon-close.svg' | inline_asset_content }}</span>
  </label>
</div>

<style>
  @scope {
    .header-layout {
      grid-template: 'logo menu actions' / auto 1fr auto;

      @media (width < 48rem) {
        grid-template:
          'logo actions toggle' auto
          'menu menu menu' auto / 1fr auto auto;
      }
    }
  }
</style>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "class": "sticky top-0 z-10 bg-background color-foreground border-b",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu",
      "info": "1 level of nesting = dropdown; 2 levels = megamenu."
    }
  ],
  "blocks": [
    {
      "type": "megamenu_card",
      "name": "Megamenu Card",
      "settings": [
        {
          "type": "text",
          "id": "identifier",
          "label": "Identifier",
          "info": "Exact match with a level 1 link title to render as a card."
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "inline_richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ]
}
{% endschema %}
