<div class="section prose">
  {{ section.settings.content }}

  {% content_for 'blocks' %}
</div>

<style>
  @scope {
    .section {
      --section-width:
      {%- if section.settings.section_full_width -%} 100%
      {%- else -%} {{ section.settings.section_width }}px
      {%- endif -%};
      text-align: {{ section.settings.text_align }};
    }
  }
</style>

{% schema %}
{
  "name": "Prose",
  "settings": [
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Section"
    },
    {
      "type": "checkbox",
      "id": "section_full_width",
      "label": "Full width",
      "default": false
    },
    {
      "type": "range",
      "id": "section_width",
      "label": "Section width",
      "min": 500,
      "max": 2000,
      "step": 100,
      "unit": "px",
      "default": 1200,
      "visible_if": "{{ section.settings.section_full_width == false }}"
    }
  ],
  "blocks": [
    { "type": "button-list" },
    { "type": "image" },
    { "type": "richtext" },
    { "type": "@app" }
  ],
  "presets": [
    {
      "name": "Prose",
      "settings": {
        "content": "<h1>Heading 1</h1><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>"
      }
    },
    {
      "name": "Prose with page content",
      "settings": {
        "content": "<h1>{{ page.title }}</h1>{{ page.content }}"
      },
      "category": "Page"
    }
  ]
}
{% endschema %}
