<style>
  @scope {
    .section {
      --section-width:
      {%- if section.settings.section_full_width -%} 100%
      {%- else -%} {{ section.settings.section_width }}px
      {%- endif -%};
      text-align: {{ section.settings.text_align }};

      {% if section.settings.enable_toc %}
        @media (width >= 48rem) {
          {% if section.settings.sidebar_position == 'right' %}
            grid-template: 'content sidebar' auto / 1fr auto;
          {% else %}
            grid-template: 'sidebar content' auto / auto 1fr;
          {% endif %}
        }
      {% endif %}
    }

    .group\/toc {
      ul ul {
        padding-left: 1em;
      }

      a {
        display: block;
        padding-block: 0.25em;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
</style>

<div class="section grid md:items-start gap-lh">
  {% if section.settings.enable_toc %}
    <aside class="md:[grid-area:sidebar] md:sticky-below-header [--offset:1rem] md:w-(--sidebar-width)">
      <details class="group/toc accordion px-4 bg-current/5" data-mobile-only-details>
        <summary class="py-2 font-bold md:[&_svg]:hidden">
          On this page
          {{ 'icon-chevron-down.svg' | inline_asset_content }}
        </summary>

        <nav
          class="text-sm leading-tight max-md:group-open/toc:anim-fade-to-b md:not-empty:anim-fade-to-r pb-4"
          aria-label="Table of contents"
          hidden
          data-toc
        >
          <ul></ul>
        </nav>
      </details>
    </aside>
  {% endif %}

  <div class="md:[grid-area:content]">
    <div class="prose" data-toc-content>
      {{ section.settings.content }}
    </div>

    {% content_for 'blocks' %}
  </div>
</div>

{% schema %}
{
  "name": "Prose",
  "settings": [
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Section"
    },
    {
      "type": "checkbox",
      "id": "section_full_width",
      "label": "Full width",
      "default": false
    },
    {
      "type": "range",
      "id": "section_width",
      "label": "Section width",
      "min": 500,
      "max": 2000,
      "step": 100,
      "unit": "px",
      "default": 1200,
      "visible_if": "{{ section.settings.section_full_width == false }}"
    },
    {
      "type": "header",
      "content": "Table of contents"
    },
    {
      "type": "checkbox",
      "id": "enable_toc",
      "label": "Enable table of contents",
      "default": false
    },
    {
      "type": "select",
      "id": "sidebar_position",
      "label": "Position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "visible_if": "{{ section.settings.enable_toc == true }}"
    }
  ],
  "blocks": [
    { "type": "@theme" },
    { "type": "@app" }
  ],
  "presets": [
    {
      "name": "Prose",
      "settings": {
        "content": "<h1>Heading 1</h1><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>"
      }
    },
    {
      "name": "Prose with page content",
      "settings": {
        "content": "<h1>{{ page.title }}</h1>{{ page.content }}"
      },
      "category": "Page"
    }
  ]
}
{% endschema %}
