<div class="section grid gap-lh">
  {% if section.settings.enable_toc %}
    <details class="group/toc accordion px-4 bg-current/5" data-mobile-only-details>
      <summary class="py-2 font-bold md:[&_svg]:hidden">
        On this page
        {{ 'icon-chevron-down.svg' | inline_asset_content }}
      </summary>

      <nav
        class="text-sm leading-tight max-md:group-open/toc:anim-fade-to-b md:not-empty:anim-fade-to-r pb-4"
        aria-label="Table of contents"
        hidden
        data-toc
      >
        <ul></ul>
      </nav>
    </details>
  {% endif %}

  <div class="prose" data-toc-content>
    {{ section.settings.content }}
  </div>

  {% content_for 'blocks' %}
</div>

<style>
  @scope {
    .section {
      --section-width:
      {%- if section.settings.section_full_width -%} 100%
      {%- else -%} {{ section.settings.section_width }}px
      {%- endif -%};
      text-align: {{ section.settings.text_align }};
    }

    .group\/toc {
      ul ul {
        padding-left: 1em;
      }

      a {
        display: block;
        padding-block: 0.25em;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
</style>

{% schema %}
{
  "name": "Prose",
  "settings": [
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "checkbox",
      "id": "enable_toc",
      "label": "Enable table of contents",
      "default": false
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Section"
    },
    {
      "type": "checkbox",
      "id": "section_full_width",
      "label": "Full width",
      "default": false
    },
    {
      "type": "range",
      "id": "section_width",
      "label": "Section width",
      "min": 500,
      "max": 2000,
      "step": 100,
      "unit": "px",
      "default": 1200,
      "visible_if": "{{ section.settings.section_full_width == false }}"
    }
  ],
  "blocks": [
    { "type": "@theme" },
    { "type": "@app" }
  ],
  "presets": [
    {
      "name": "Prose",
      "settings": {
        "content": "<h1>Heading 1</h1><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>"
      }
    },
    {
      "name": "Prose with page content",
      "settings": {
        "content": "<h1>{{ page.title }}</h1>{{ page.content }}"
      },
      "category": "Page"
    }
  ]
}
{% endschema %}
